body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%; /* Adjust as needed */
    max-width: 1200px; /* Adjust as needed */
}

.city {
    position: relative;
    flex: 1;
    margin: 10px;
    border-radius: 8px;
    overflow: hidden;
    box-sizing: border-box;
}

.city-img {
    width: 100%;
    height: auto;
    display: block;
}

.city-text {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    text-align: center;
    padding: 10px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
}
@media (max-width: 768px) {
    .city {
        width: 100%;
    }
}
