body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f4f4f4; /* Adjust as needed */
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 1200px;
    background-color: #ffffff; /* Adjust as needed */
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1); /* Optional */
    border-radius: 8px; /* Optional */
    overflow: hidden;
}

.city {
    position: relative;
    flex: 1;
    margin: 10px;
    border-radius: 8px;
    overflow: hidden;
    box-sizing: border-box;
    background-color: #ffffff; /* Adjust as needed */
    padding-bottom: 40px; /* Adjust as needed */
}

.city-img {
    width: 100%;
    height: auto;
    display: block;
}

.city-text {
    position: absolute;
    bottom: 10px; /* Adjust as needed */
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    text-align: center;
    padding: 10px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    .city {
        width: 100%;
    }
}
