body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f4f4f4; /* Adjust as needed */
}


.city {
    position: relative;
    flex: 1;
    margin: 10px;
    border-radius: 8px;
    overflow: hidden;
    box-sizing: border-box;
    background-color: #ffffff; /* Adjust as needed */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Adjust as needed */
}

#Çorum {
    margin-right: auto;
}

#Denizli {
    margin-left: auto;
}

.city-img {
    height: auto;
    display: block;
    margin: 0 auto;
}

.city-text {
    display: flex;
    align-items: center; !important;
    justify-content: center;
}


    #Çorum, #Denizli {
        margin: 10px auto;
    }
